<footer id="footer" class="footer-1">
    <div class="main-footer typo-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="widget subscribe no-box mt-5">
              <h4 class="widget-title text-center"><strong>DreamBuild</strong> Fitness</h4>
              <p>
                "Welcome to DreamBuild Fitness – Your Ultimate Destination for Elevating Your Fitness Journey! 
                Explore our premium collection of gym clothing and accessories that are designed to empower you during your workouts, 
                helping you perform at your best while looking stylish. "
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 text-center">
            <div class="widget no-box mt-5">
              <h4 class="widget-title text-center">Quick Links<span></span></h4>
              <ul class="thumbnail-widget">
                <li>
                  <div class="thumb-content text-uppercase m-2 btn-light"><a href="{% url 'home' %}" aria-label="Home Page" class="text-uppercase">&nbsp;Home Page</a></div>
                </li>
                <li>
                  <div class="thumb-content text-uppercase m-2 btn-light"><a href="{% url 'account_login' %}" aria-label="Login">&nbsp;Login</a></div>
                </li>
                <li>
                  <div class="thumb-content text-uppercase m-2 btn-light"><a href="{% url 'products' %}" aria-label="Shop Now">&nbsp;Shop Now</a></div>
                </li>
                <li>
                    <div class="thumb-content text-uppercase m-2 btn-light"><a href="{% url 'products' %}" aria-label="About Us">&nbsp;About Us </a></div>
                  </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="widget no-box text-center mt-5">
              <h4 class="widget-title text-center">Follow us<span></span></h4>
              <a class="btn btn-outline-light btn-floating m-1" href="#" target="_blank" rel="noopener" role="button" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
  
              <!-- Twitter -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com" target="_blank" rel="noopener" role="button" aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter" aria-hidden="true"></i></a>
  
              <!-- Google -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com" target="_blank" rel="noopener" role="button" aria-label="Visit our Google page (opens in a new tab)"><i class="fab fa-google" aria-hidden="true"></i></a>
  
              <!-- Instagram -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://instagram.com" target="_blank" rel="noopener" role="button" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram" aria-hidden="true"></i></a>
  
              <!-- Linkedin -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com" target="_blank" rel="noopener" role="button" aria-label="Visit our Linkedin page (opens in a new tab)"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
  
              <!-- Github -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.github.com" target="_blank" rel="noopener" role="button" aria-label="Visit our GitHub page (opens in a new tab)"><i class="fab fa-github" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright p-2 bg-black">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright DreamBuild © 2023. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  