<footer id="footer" class="footer-1">
  <div class="main-footer typo-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="widget subscribe no-box mt-5">
            <h4 class="widget-title text-center"><strong>DreamBuild</strong> Fitness</h4>
            <p>
              "Welcome to DreamBuild Fitness – Your Ultimate Destination for Elevating Your Fitness Journey!
              Explore our premium collection of gym clothing and accessories that are designed to empower you during
              your workouts,
              helping you perform at your best while looking stylish. "
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
          <div class="widget no-box mt-5">
            <h4 class="widget-title text-center">Quick Links<span></span></h4>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content text-uppercase m-2 btn-light"><a href="{% url 'home' %}"
                    aria-label="Home Page" class="text-uppercase">&nbsp;Home Page</a></div>
              </li>
              <li>
                <div class="thumb-content text-uppercase m-2 btn-light"><a href="{% url 'account_login' %}"
                    aria-label="Login">&nbsp;Login</a></div>
              </li>
              <li>
                <div class="thumb-content text-uppercase m-2 btn-light"><a href="{% url 'products' %}"
                    aria-label="Shop Now">&nbsp;Shop Now</a></div>
              </li>
              <li>
                <div class="thumb-content text-uppercase m-2 btn-light"><a href="{% url 'products' %}"
                    aria-label="About Us">&nbsp;About Us </a></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="widget no-box text-center mt-5">
            <h4 class="widget-title text-center">Follow us<span></span></h4>
            <a class="btn btn-outline-light btn-floating m-1"
              href="https://www.facebook.com/profile.php?id=61552476312298" target="_blank" rel="noopener" role="button"
              aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook-f"
                aria-hidden="true"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com" target="_blank" rel="noopener"
              role="button" aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter"
                aria-hidden="true"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com" target="_blank"
              rel="noopener" role="button" aria-label="Visit our Google page (opens in a new tab)"><i
                class="fab fa-google" aria-hidden="true"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://instagram.com" target="_blank"
              rel="noopener" role="button" aria-label="Visit our Instagram page (opens in a new tab)"><i
                class="fab fa-instagram" aria-hidden="true"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com" target="_blank"
              rel="noopener" role="button" aria-label="Visit our Linkedin page (opens in a new tab)"><i
                class="fab fa-linkedin-in" aria-hidden="true"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.github.com" target="_blank"
              rel="noopener" role="button" aria-label="Visit our GitHub page (opens in a new tab)"><i
                class="fab fa-github" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-sm-12 col-md-8">
          <div id="mc_embed_shell">
            <div id="mc_embed_signup">
              <form
                action="https://herokuapp.us14.list-manage.com/subscribe/post?u=5b2541ec6f0a28a0246fa834c&amp;id=baca40fd0b&amp;f_id=0035aee0f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank">
                <div id="mc_embed_signup_scroll">
                  <h4>Subscribe</h4>
                  <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                  <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input
                      type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span
                      id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
                  <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    /* real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    */
                    <input type="text" name="b_5b2541ec6f0a28a0246fa834c_baca40fd0b" tabindex="-1" value="">
                  </div>
                  <div class="optionalParent">
                    <div class="clear foot">
                      <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                      <p style="margin: 0px auto;"><a href="http://eepurl.com/iCn5-E"
                          title="Mailchimp - email marketing made easy and fun"><span
                            style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                              class="refferal_badge"
                              src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                              alt="Intuit Mailchimp"
                              style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright p-2 bg-black">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Copyright DreamBuild © 2023. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

{% block postloadjs %}
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
  (function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = 'EMAIL';
    ftypes[0] = 'email';
    fnames[1] = 'FNAME';
    ftypes[1] = 'text';
    fnames[2] = 'LNAME';
    ftypes[2] = 'text';
    fnames[3] = 'ADDRESS';
    ftypes[3] = 'address';
    fnames[4] = 'PHONE';
    ftypes[4] = 'phone';
    fnames[5] = 'BIRTHDAY';
    ftypes[5] = 'birthday';
  }(jQuery));
  var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}